<form [formGroup]="formGroup" class="mat-form row entity-form">
    <!-- Photo -->
    <div class="col-2">
        <app-blob [formControl]="formGroup.controls.photoId!" [readonly]="readonly"
            [previewFallback]="'../assets/profile-picture.webp'"></app-blob>
    </div>

    <div class="col">
        <!-- Initials Field -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Initials</mat-label>
                <input matInput [formControl]="formGroup.controls.initials!" [readonly]="readonly" />
                <mat-error *ngIf="formGroup.controls.initials?.hasError('required')">
                    Initials are required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Name Field -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [formControl]="formGroup.controls.name!" [readonly]="readonly" />
                <mat-error *ngIf="formGroup.controls.name?.hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Role Field -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select *ngIf="!readonly; else READONLY_ROLE" [formControl]="formGroup.controls.role!">
                    <mat-option *ngFor="let role of userRoles" [value]="role">
                        {{ role }}
                    </mat-option>
                </mat-select>
                <ng-template #READONLY_ROLE>
                    <input matInput formControlName="role" readonly="true" />
                </ng-template>
                <mat-error *ngIf="formGroup.controls.role?.hasError('required')">
                    Role is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="col">
        <!-- Description Field -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput rows="7" [formControl]="formGroup.controls.description!"
                    [readonly]="readonly"></textarea>
                <mat-error *ngIf="formGroup.controls.description?.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="!readonly" class="entity-footer">
        <button mat-raised-button (click)="onReset()" [disabled]="formGroup.pristine">Reset</button>
        <ng-container *ngIf="creating; else SAVING">
            <button mat-raised-button color="primary" [disabled]="formGroup.pristine"
                (click)="onCreate()">Create</button>
        </ng-container>
        <ng-template #SAVING>
            <button mat-raised-button color="primary" [disabled]="formGroup.pristine" (click)="onUpdate()">Save</button>
        </ng-template>
    </div>
</form>